$pieces: (
  PAWN,
  ROOK,
  KNIGHT,
  BISHOP,
  QUEEN,
  KING
);

$space-colors: (
  BLACK: #675c56,
  WHITE: #d5ccbd
);

$piece-colors: (
  "BLACK",
  "WHITE"
);

$border-width: 8px;

.space {

  border: $border-width solid rgba(0,0,0,0);

  flex-grow: 1;

  &.WHITE {
    background-color: map-get($space-colors, WHITE);
  }
  &.BLACK {
    background-color: map-get($space-colors, BLACK);
    color: white;
  }
  &.selected {
    border: $border-width solid $accent-color;
  }

  @each $piece in $pieces {
    @each $color in $piece-colors {
      &.#{$piece}-#{$color} {
        background-image: url("../img/pieces/#{$piece}-#{$color}.svg");
      }
    }
  }

  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
}


