.row {
  display: flex;
  height: 10vh;
  width: 80vh;
}

.space {

  flex-grow: 1;
  &.WHITE {
    background-color: white;
  }
  &.BLACK {
    background-color: black;
    color: white;
  }
  &.selected {
    border: 1px solid red;
  }
}


